#  Calling the dynamic library.
useDynLib(edgeR, .registration=TRUE, .fixes=".c")

#  All functions exported other than those starting with "."
exportPattern("^[^\\.]")

exportClasses("DGEList","DGEExact","DGEGLM","DGELRT","TopTags")
exportMethods("show")

import(methods)
importFrom("limma",camera,contrastAsCoef,decideTests,goana,kegga,is.fullrank,lmFit,loessFit,mroast,nonEstimable,plotMD,plotMDS,plotWithHighlights,removeExt,roast,romer,squeezeVar,subsetListOfArrays,zscoreGamma)
importClassesFrom("limma","LargeDataObject","Roast","MDS")

S3method(as.data.frame,TopTags)
S3method(as.matrix,DGEList)
S3method(aveLogCPM,default)
S3method(aveLogCPM,DGEList)
S3method(aveLogCPM,DGEGLM)
S3method(calcNormFactors,default)
S3method(calcNormFactors,DGEList)
S3method(camera,DGEList)
S3method(cpm,default)
S3method(cpm,DGEList)
S3method(dim,DGEList)
S3method(dim,DGEExact)
S3method(dim,DGEGLM)
S3method(dim,DGELRT)
S3method(dim,TopTags)
S3method(dimnames,DGEList)
S3method(dimnames,DGEExact)
S3method(dimnames,DGEGLM)
S3method(dimnames,DGELRT)
S3method(dimnames,TopTags)
S3method("dimnames<-",DGEList)
S3method("dimnames<-",DGEGLM)
S3method("dimnames<-",DGELRT)
S3method(estimateGLMCommonDisp,default)
S3method(estimateGLMCommonDisp,DGEList)
S3method(estimateGLMTrendedDisp,default)
S3method(estimateGLMTrendedDisp,DGEList)
S3method(estimateGLMTagwiseDisp,default)
S3method(estimateGLMTagwiseDisp,DGEList)
S3method(glmFit,default)
S3method(glmFit,DGEList)
S3method(glmQLFit,default)
S3method(glmQLFit,DGEList)
S3method(goana,DGEExact)
S3method(goana,DGELRT)
S3method(kegga,DGEExact)
S3method(kegga,DGELRT)
S3method(length,DGEList)
S3method(length,DGEExact)
S3method(length,TopTags)
S3method(length,DGEGLM)
S3method(length,DGELRT)
S3method(mroast,DGEList)
S3method(plotMD,DGEGLM)
S3method(plotMD,DGELRT)
S3method(plotMDS,DGEList)
S3method(predFC,default)
S3method(predFC,DGEList)
S3method(roast,DGEList)
S3method(romer,DGEList)
S3method(rpkm,default)
S3method(rpkm,DGEList)
S3method(sumTechReps,default)
S3method(sumTechReps,DGEList)
